html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.navTabs:hover {
    background-color: rgb(42, 42, 42);
}

.introduction {
    display: flex;
    align-items: center;
    background: rgb(46, 35, 43);
    height: 100vh;
    width: 100%;
}

.title {
    font-size: 4rem;
    color: rgb(134, 134, 134);
    text-align: center;
    margin: auto;
}

.profileImage {
    border-color: white;
    border-radius: 100px;
    height: 180px;
    width: 180px;
    border: 3px solid white;
}

.subtitle {
    font-size: 2rem;
    margin: 0px;
}

.subtitleLinks {
    font-size: 1.5rem;
    color: rgb(134, 134, 134);
    vertical-align: middle;
    text-align: center;
    margin: 0px .5%;
}

.subtitleLinks:link,
.subtitleLinks:active,
.subtitleLinks:visited {
    color: rgb(134, 134, 134);
    text-decoration: none;
}

.subtitleLinks:hover {
    color: white;
    text-decoration: none;
}

.about {
    background-color: white;
    width: 100%;
    color: black;
}

.otherTitles {
    font-size: 3rem;
    text-align: center;
}

.aboutContent {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 16px;
}

.aboutLinks,
.aboutLinks:link,
.aboutLinks:active,
.aboutLinks:visited {
    font-size: 1.5rem;
    color: black;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.5%
}

.aboutLinks:hover {
    color: rgb(128, 3, 3);
}

.aboutFooter {
    display: inline;
    vertical-align: middle;
}

.aboutFooterSocials {
    margin-top: 60px;
}

.titleHR {
    width: 25%;
}

.portfolio {
    text-align: center;
    padding-bottom: 5%;
}

.profolioHR {
    padding-bottom: 5%;
}

.polaroidRow {
    text-align: center;
}

.polaroid {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10%;
    display: inline-block;
    position: relative;;
    z-index: 0;
    vertical-align: middle;
}

.polaroid:hover{
    box-shadow: 0px 0px 5px 4px rgb(76, 185, 105);
    z-index: 1;
}

.polaroidVisual{
    width: 100%;
    height: 225px; 
    background-color: rgb(145, 145, 145);
}

.polaroidImage{
    width: 100%;
    height: 100%;
}

.polaroidDiscription {
    height: 100px;
    padding: 10px 30px;
    background-color: rgb(240, 240, 240);
}
